

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffed9a;
    padding: 1em;
}

header img {
    width: 100%;
    max-width: 400px;
}

main {
    width: 100%;
}

aside {
    width: 100%;
    background-color: #c7f4fd;
    padding: 1em;
}
