

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffed9a;
    padding: 1em;
    width: 100%;
}

header img {
    width: 100%;
    max-width: 350px;
}

nav img {
    width: 100%;
    max-width: 100px;
}


@media (min-width: 700px) {
    header {
        float: left;
    }
    nav {
        float: right;
    }
    nav img {
        display: inline;
        max-width: 150px;
    }
}

main {
    width: 100%;
}

aside {
    width: 100%;
    background-color: #c7f4fd;
    padding: 1em;
}
